* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: transparent; /* Make sure no conflicting background */
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
}

.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* Content hidden initially */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: transparent; /* removed white */
    width: 300px;
    height: 400px;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

/* When chatbox is active */
.chatbox--active {
    z-index: 9999;
    opacity: 1;
    pointer-events: auto;
}

/* Chat button */
.chatbox__button {
    text-align: right;
}

.chatbox__button button {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-radius: 50px;
    box-shadow: var(--primaryBoxShadow);
    cursor: pointer;
}

/* Chatbox styling */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

.chatbox__messages {
    padding: 0 20px;
    margin-top: auto;
    display: flex;
    overflow-y: auto;
    flex-direction: column-reverse;
}

.messages__item {
    margin-top: 10px;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor {
    background: #E0E0E0;
    border-radius: 20px 20px 20px 0;
    margin-right: auto;
}

.messages__item--operator {
    background: var(--primary);
    color: white;
    border-radius: 20px 20px 0 20px;
    margin-left: auto;
}

.chatbox__footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: var(--secondaryGradient);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: var(--secondaryBoxShadow);
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px;
    border-radius: 30px;
}

.send__button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
